$blue: #005397;
$white: #fff;
$darkGray: #4a4a4a;

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $white;
  color: $darkGray;
  font-family: "Courier New", Courier, monospace;
  .menuContainer {
    display: flex;
    justify-content: flex-end;
    img {
      padding: 1em 2em 0 0;
      height: 2.5em;
    }
    .fullMenuContainer {
      background-color: $blue;
      width: 100%;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .fullMenu {
        padding-bottom: 8em;
        .menuItem {
          padding-bottom: 1em;
        }
      }
    }
  }
  .historyContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    line-height: 1.5;
  }
}
